body{
    background-color: maroon;
}
*{
    margin: 0;
    padding: 0;
}
@media screen AND (min-width:500px){
    .navitem{
        padding-left: 80px !important;
    }
    .num{
        padding-top: 0px !important;
    }
}
div ul li a{
    color: maroon !important;
}
div ul li a:hover{
    background-color: mintcream;
}
nav a b{
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    font-size: larger;
}
@media screen AND (max-width:400px){

}
li b{
    font-size: larger;

}
